.fs-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  margin: 0px;
}

.fs-flex-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

body {
  background-color: #fff;
}

.mt-md {
  margin-top: 16px;
}

.mt-lg {
  margin-top: 32px;
}

.fs-container {
  margin: 32px;
}

.fs-card {
  background: #8A9EA8;
  /* shadow/card */
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 16px;
}

.fs-button {
  background-color: #576B75;
  color: #fff;
  padding: 8px 16px 8px 16px;
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
}

.fs-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fs-top .fs-box-button .fs-button {
  margin-left: 16px;
}

.fs-box-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}
.fs-box-card .fs-card {
  width: 300px;
  height: 100px;
  margin-right: 16px;
  color: #fff;
  display: flex;
  align-items: flex-end;
}
.fs-box-card .fs-card .fs-title {
  margin-right: 16px;
}
.fs-box-card .fs-card .fs-text-list p {
  margin: 0px;
}

.box-list {
  margin-top: 32px;
}

.fs-container-card {
  display: flex;
}

.fs-box-profile {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  max-width: 300px;
  min-width: 300px;
  margin-right: 16px;
  padding: 8px 16px 8px 16px;
  background-color: #C4CFD4;
}
.fs-box-profile .box-avatar {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.fs-box-profile .box-avatar .circle {
  background-color: #8A9EA8;
  border-radius: 50%;
  padding: 32px;
}
.fs-box-profile .box-avatar .circle h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  color: #415058;
}
.fs-box-profile .box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
}
.fs-box-profile .box-title h6:first-child {
  margin-top: 16px !important;
}
.fs-box-profile .box-title h6 {
  margin: 0px;
  /* title/h6 Bold */
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.fs-box-profile .box-text p:first-child {
  margin-top: 32px;
}
.fs-box-profile .box-text p {
  margin-bottom: 8px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.fs-box-profile .box-btn .btn {
  /* wireframe/text */
  background: #8A9EA8;
  /* shadow/button */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  min-height: 32px;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: #fff;
  padding: 16px;
  font-family: "Lato";
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  transition: 0.5s;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
}
.fs-box-profile .box-btn .btn:hover {
  background: #576B75;
}

/*# sourceMappingURL=style.css.map */
