$text: #415058;
$strong: #576B75;
$normal: #8A9EA8;
$light: #C4CFD4;
$white: #fff;


$primary: #F7922E;
$background-color: #F2F2F2;
// shadows
$card-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
$card-shadow-destaque: 0px 16px 16px rgba(0, 0, 0, 0.16);

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//  text
@mixin title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    margin: 0px;

}

@mixin title-h6-bold {
    /* title/h6 Bold */

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

@mixin sub-text-regular{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.fs-title{
    @include title;
}

// position
.fs-flex-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.fs-flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

body{
    background-color: $background-color;
    color: $text;
}

.mt-md{
    margin-top: 16px;
}

.mt-lg{
    margin-top: 32px;
}

.fs-container{
    margin: 32px;
}



.fs-button{
    background-color:$primary;
    color: $white;
    padding: 8px 16px 8px 16px;

    display: inline-block;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
}

.fs-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fs-box-button .fs-button{
        margin-left: 16px;
       
    }
}

.fs-box-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 16px;


    .fs-card{
      
        background: $primary;
        /* shadow/card */
        box-shadow: $card-shadow-destaque;
        border-radius: 8px;
        padding: 16px;
        width: 150px;
        height: 100px;
        margin-right: 16px;
        color: $white;
        display: flex;
        align-items: flex-end;

        .fs-title{
            margin-right: 16px;
        }

        .fs-text-list p{
            margin: 0px;
            white-space: nowrap;
            @include sub-text-regular;
        }
    }
}


// list

.box-list{
    margin-top: 32px;
}

.fs-container-card{
    display: flex;
    // background-color: red;
    padding: 2%;
    justify-content: space-between;

}

.fs-box-profile{
    box-shadow: $card-shadow;
    border-radius: 8px;
    max-width:300px;
    min-width: 300px;
    margin-right: 16px;
    padding: 8px 16px 8px 16px;
    background-color: white;

    .box-avatar{
        display: flex;
        justify-content: center;
        margin-top: 8px;

        .circle{
            background-color: $normal;
            border-radius: 50%;
            padding:32px;

            h3{
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 42px;
                color: $text;
            }
        }
    }

    .box-title{

        h1,h2,h3,h4,h5,h6{
            margin: 8px;
            color: $text;
        }

        h1{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            color: $text;
        }
        
        p{
            
            margin: 8px;
        }

        .label{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            margin-top: 0px;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px;

        h6:first-child{
            margin-top: 16px!important;
        }

        h6{
            @include title-h6-bold;
        }
    }

    .fs-box-peso{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4{
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            margin: 0px;
        }

        p{
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px; 
        }
       
    }

    .box-text{
        p:first-child{
            margin-top: 32px;
        }
        p{
            margin-bottom: 8px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
        }
        .row{
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .fs-box-dados{
                // border: solid 2px red;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                min-width: 130px;
                max-width: 130px;
                // background-color: red;

                h4{
                    font-family: lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    margin: 0px;
                    color: $text;
                }
        
                p{
                    margin-top: 8px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;                
                }   
            }
        }



    }

    .box-btn{
            
        .btn{
            /* wireframe/text */
            background-color: $primary;
            color: $white;
            /* shadow/button */
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
            border-radius: 8px;

            cursor: pointer;
            display: inline-block;
            min-height: 32px;
            outline: none;
            border: none;
            vertical-align: baseline;
            color: $white;
            padding: 16px;
            font-family: "Lato";
            font-style: normal;
            text-align: center;
            text-decoration: none;

            // exclusivo
            margin-top: 8px;
            margin-bottom: 8px;
            
            width: 100%;

            transition: 0.5s;

            // text
            font-family: Lato;
            font-style: normal;
            font-weight: bold;

        }

        .btn:hover{
            background: $strong;
        }
    }

}

.fs-container-ranking{
    margin-top: 32px;
    // box-shadow: $card-shadow;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: $light;
    width: 600px;
}

.slick-prev:before, .slick-next:before{
    color: $primary;
}




// ############

.layout{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
}

.map{
    width: 70%;
}



// ### TIMELINE  ###
section {
    margin: 20px 0;
    background-color: $background-color;
  
  }
  .timeline {

    display: grid;
    width: 30%;
    padding: 16px;
    border-right: 1px solid $primary;
    grid-template-columns: 8px auto;
    justify-content: flex-start;

    max-height: 500px;
    overflow-y: scroll;

  }
  
  ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  li {
 
    position: relative;
    padding: 32px 0px 0px 32px;
  }
  li p {
    padding: 0 20px;
    transition: 1.5s;
  }
  
  .date {
    position: absolute;

    top: 30px;
    left: -50px;
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;
  }

  .timeline-line {
    background: $primary;
    width: 4px;
    border-radius: 12px;
    position: relative;
    justify-self: end;
  }
  
  .timeline-point {
    border: none;
    position: absolute;
  
    border-radius: 50%;
    background: $primary;
    width: 20px;
    height: 20px;
  
    top: 32px;
    left: -12px;
    transition: 
    1.5s ease;
  }

//  ### CARD TIMELINE ###

  .card-timeline{
    border: 1px solid $primary;
    padding: 16px;
    border-radius: 0px 8px 8px 8px;
    background-color: $white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);

    h6{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    /* wireframe/text */
    color: #415058;
    }

    p{
    margin: 0px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    }

    .row-status{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;

        h5{
            margin: 0px;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
        }

        .btn-location{
            cursor: pointer;
            @include center;
            display: flex;
            /* background/base */

            background: #F2F2F2;
            /* shadow/card */

            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
            border-radius: 6px;

            width: 42px;
            height: 42px;
            transition: linear .5s;

            img{
                max-width: 32px;
            }

            &:hover {
                background: $normal;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
            }
        }
    }
  }

  .timeline-innerline {
    position: absolute;
    background: blue;
    width: 4px;
    height: 0%;
  
    top: 0%;
    left: 0%;
  
    transition: 1s linear;
  }
